PORT=5000
MONGODB_URI=your-mongodb-connection-string
JWT_SECRET=your_jwt_secret
FRONTEND_URL=http://localhost:5173
SEND_GRID_API=YOUR_SENDGRID_API_KEY_PLACEHOLDER
FROM_EMAIL=you@example.com
ARCJET_ENV=development
ARCJET_KEY=your_arcjet_key